<!DOCTYPE html>
<html>
<head>
	<title>ultrive</title>
</head>
<body>

<div id = "main-container" class="container">
	<div class="row">
		<div class = col-xs-4>
			<h3>TESTINGGGG</h3>

			<% 1.times do %>
				<p> content</p>
				<br>
			<% end %>

			<% @users = User.all
			@users.each do |user| %>
				<p> user:<%= user.name %> </p>
			<% end %>

			<% @users %>

		</div>

	</div>


</div>


</body>
</html>