<!DOCTYPE html>
<html>
<head>
	<title>ultrive</title>
</head>
<body>

<div id = "main-container" class="container">

	<h3>TESTINGGGG</h3>
	<!-- FILL THE PAGE WITH n DUMMY CONTENT--> 
	<% 1.times do %>
		<p> content</p>
		<br>
	<% end %>

	<!-- test users db-->
	<% @users.each do |user| %>
		<p> user:<%= user.name %> </p>
	<% end %>

	<!-- test product db-->
	<div class = "row">
		<% @products.each do |product| %> 
			<div class="col-xs-4" id="product">
				<%= product.name %>
			</div>
		<% end %>
	</div>

</div>

</body>
</html>