// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_row{
	padding-left: 25px;
	display: flex;
	align-items: center;
}

.cart_row_container{
	border: 2px solid #ccc;	

}

div p {
	margin-bottom:0;
}

