@import "bootstrap-sprockets";
@import "bootstrap";

.product_row{
	padding-top: 75px;
	padding-left: 8%;
	padding-right: 8%;
}

#product{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 30px;
	border: 2px solid #ccc;

}