@import "bootstrap-sprockets";
@import "bootstrap";

.container{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.banner-img{
	max-width: 100%;
	width: auto\9;
}

#banner-container{
	width: 100%;
	height: 250px;
	overflow: hidden;
}

#content-container{
	padding-top: 50px;
}
#media-container{
	margin: auto;
	width: 75%;
	border: 3px solid grey;
}

.media-object{
	width: 200px;
	height: 200px;
}