<nav class="navbar navbar-default navbar-fixed-top navbar-toggleable-xl">
	<div class="container" id="header">
		<ul class = "nav navbar-nav">
			<li><%= image_tag "logo.jpeg", :class => "nav_logo" %></li>
			<li><p class="navbar-text" id="logo-text">ULTRIVE</p></li>
			<li> <a class = "navbar-text" href="#">Shop</a></li>

		</ul>
		<!--
		<div class = "navbar-text" style="margin:0">
			<%= image_tag "logo.jpeg", :class => "nav_logo" %>
		</div>
		<p class="navbar-text" id="logo-text">ULTRIVE</p>
		-->
	</div>
</nav>