<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container" id="header">
		<div class = "navbar-text" style="margin:0">
			<%= image_tag "logo.jpeg", :class => "nav_logo" %>
		</div>
		<p class="navbar-text" id="logo-text">ULTRIVE</p>
	</div>
</nav>